@model DoAnWeb.Models.SanPhan

@{
    ViewBag.Title = "Xoasp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xác nhận thông tin sản phẩm cần xóa </h2>

<h3>Bạn chắc chắn muốn xóa sản phẩm này ? </h3>
<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Tên sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
           Giá bán:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            Mô tả sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Ảnh sản phẩm:
        </dt>

        <dd>
            <img src="@Url.Content("~/Images/SPkhuyenmai/"+  Model.AnhSP)" width="120px" />
        </dd>

        <dt>
            Loại sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSP.TenLoai)
        </dd>

        <dt>
          Ngày cập nhật:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayUpdate)
        </dd>

        <dt>
           Số lượng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

        <dt>
           Chủ đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuDe.TenChuDe)
        </dd>

        <dt>
            Màu sắc:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MauSac.TenMau)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa " class="btn btn-default" /> |
            @Html.ActionLink("Trở về ", "Hoa ")
        </div>
    }
</div>
