@model IEnumerable<DoAnWeb.Models.SanPhan>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserPage1.cshtml";
}
<div id="slideshow">
    <img class="imga1" src="https://bonn.vn/wp-content/uploads/2017/07/6ru.jpg" />

</div>
<div id="products">
    <h3 class="header">Sản phẩm mới</h3>
    @foreach (var hoa in Model)
    {
        <div class="item">
        <a href="@Url.Action("ChiTietHoa","TrangChu",new {id=hoa.MaSP })">
        <h3 class="productName">@hoa.TenSP</h3>
        <img class="productImg" src="~/Images/SPkhuyenmai/@hoa.AnhSP" width="150" />
        </a>
        <p class="productPrice">@hoa.Gia VND</p>
        <a class="productDetail" href="@Url.Action("ChiTietHoa","TrangChu",new {id=hoa.MaSP })">Chi tiết</a>
        <a class="productBuy" href="@Url.Action("ThemGiohang","GioHang",new {@iMasp= hoa.MaSP, @strURL=Request.Url.ToString() })">Mua hàng</a>
        </div>
    }
</div>



<div id="products">
    <h3 class="header">Bó hoa </h3>
    @foreach (var hoa in Model.Where(a=>a.MaLoai==1))
    {
<div class="item">
    <a href="@Url.Action("ChiTietHoa","TrangChu",new {id=hoa.MaSP })">
        <h3 class="productName">@hoa.TenSP</h3>
        <img class="productImg" src="~/Images/SPkhuyenmai/@hoa.AnhSP" width="150" />
        </a>
        <p class="productPrice">@hoa.Gia VND</p>
        <a class="productDetail" href="@Url.Action("ChiTietHoa","TrangChu",new {id=hoa.MaSP })" >Chi tiết</a>
        <a class="productBuy" href="@Url.Action("ThemGiohang","GioHang",new {@iMasp= hoa.MaSP, @strURL=Request.Url.ToString() })">Mua hàng</a>
</div>
    }
</div>

<div id="products">
    <h3 class="header">Bình Hoa </h3>
    @foreach (var hoa in Model.Where(a => a.MaLoai == 2))
    {
        <div class="item">
            <a href="@Url.Action("ChiTietHoa","TrangChu",new {id=hoa.MaSP })">
                <h3 class="productName">@hoa.TenSP</h3>
                <img class="productImg" src="~/Images/SPkhuyenmai/@hoa.AnhSP" width="150" />
            </a>
            <p class="productPrice">@hoa.Gia VND</p>
            <a class="productDetail" href="@Url.Action("ChiTietHoa","TrangChu",new {id=hoa.MaSP })">Chi tiết</a>
            <a class="productBuy" href="@Url.Action("ThemGiohang","GioHang",new {@iMasp= hoa.MaSP, @strURL=Request.Url.ToString() })">Mua hàng</a>
        </div>
    }
</div>
